body {
    background-image: url("upwk61907234-wikimedia-image-job572-1.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
}
#css-zen-garden {
    mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
}